body {
  margin: auto;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/*header*/


header {
  display: flex;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.logo {
  display: inline-flex;
  flex-grow: 1;
  margin-left: 10px;
}

.logo img {
  height: 50px;
}

nav a {
  color: white;
  padding-right: 20px;
}

/*content*/

.content {
  padding-top: 69px;
}

.content .mission {
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  background-repeat: no-repeat;
  display: inline-flex;
  align-items: center;
}

.headers {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

/*tea of the month*/

div.menu{
  margin: 60px auto;
}

div.tealist {
  display: inline-flex;
  width: 1000px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-between;
}

.tealist h4 {
  margin-top: 10px;
}

.tea-image img {
  width: 300px;
  height: 200px;
}

/*locations*/

div.locations {
  display: inline-flex;
  flex-direction: column;
  height: 560px;
  width: 1200px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  background-size: cover;
}

.locations h2 {
  margin-top: 70px;
}

div.location-boxes {
  display: inline-flex;
  justify-content: center;
}

.location-box {
  background-color: black;
  width: 300px;
  margin: 0 20px;
}

.location-box p {
  margin: 40px 0;
  padding: 0 10px;
}

/*contact*/

.contact {
  height: 200px;
}
.contact h2 {
  margin-top: 10px;
  margin-bottom: 50px;
}

/*footer*/

footer {
  text-align: left;
}

footer h5 {
  margin-left: 20px;
}
